<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "global.sesoc.book.dao.BookMapper">

<insert id="addBook" parameterType="book">
insert into bookList
(BOOKCODE, BOOKNAME, BOOKFORMAT,SALES,BOOKKINDS)
values
(BOOKLIST_SEQ.nextval, #{bookName}, #{bookFormat}, #{booksells}, #{bookKinds})
</insert>

<delete id="deleteBook" parameterType="int">
delete bookList
where 
BOOKCODE =#{deleteBookNumber}
</delete>

<select id="searchBook" parameterType="book" resultType="book">
select * from bookList 
where
BOOKNAME like '%'||#{bookName}||'%'
</select> 

<select id="showAllBook" resultType="book">
select * from bookList
</select> 


</mapper>