<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.DAO.BookListMapper">
<!-- public int insertBook(); -->


<insert id="insertBook" parameterType="book" > 
insert into 
BookList(BOOKCODE,BOOKNAME,BOOKFORMAT,BOOKKINDS)
  values(BOOKLIST_SEQ,#{bookName}, #{bookKinds}, #{bookFormat}) 
</insert>
<!-- public void showBook(); -->


<select id="showBook"> </select>
<!-- public int deleteBook(); -->


<delete id="deleteBook"> 
</delete>
<!-- public int updateBook(); -->


<update id="updateBook"> 
</update>

<!-- public void searchBook(); -->
<select id="searchBook"> 
</select>
</mapper>